<%- include header %>
	<div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <article class="post">
            <h2><a href="/p/<%= post._id %>"><%= post.title %></a></h2>
            <div class="meta">
              <time><%= post.time.minute %></time>
              <span class="label label-success">
                <a href="#comments"><span class="ds-thread-count" data-thread-key="<%= post._id %>" data-count-type="comments"></span></a>
              </span>
              <span class="label label-success"><%= post.pv || 0 %>人阅读</span>
            </div>
            <img src="<%= post.titleImgPath %>">
            <p><%- post.content %></p>
          </article>

          <div id="comments">
          <%- include comment %>
          </div>
        </div>
      </div>
    </div>

<%- include footer %>