<%- include mgtHeader %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
         <div class="panel panel-default">
           <div class="panel-heading">发布文章</div>
           <div class="panel-body">
             <form role="form" method="post" enctype='multipart/form-data'>
              <input type="hidden" name="_id" value="<%= post._id %>">
              <div class="form-group">
                <label>标题</label>
                <input name="title" type="text" class="form-control" placeHolder="请输入文章标题" value="<%=post.title %>">
              </div>
              <div class="form-group">
                <label>分类</label>
                <select name="category" class="form-control" >
                  <option value="program" selected=<%= post.category==='program' %>>编程</option>
                  <option value="study" selected=<%= post.category==='study' %>>读书</option>
                </select>
              </div>
              <div class="form-group">
                <label>题图</label>
                <img src="<%= post.titleImgPath %>">
              </div>
              <div class="form-group">
                <label>更换题图</label>
                <input type="file" name="titleImage" value="更换题图">
              </div>
              <div class="form-group">
                <label>标签</label>
                <input type="text" name="tag1" class="form-control w200 inline-bolck" value="<%= post.tags[0]===undefined ? '' : post.tags[0] %>"/>
                <input type="text" name="tag2" class="form-control w200 inline-bolck" value="<%= post.tags[1]===undefined ? '' : post.tags[1] %>"/>
                <input type="text" name="tag3" class="form-control w200 inline-bolck" value="<%= post.tags[2]===undefined ? '' : post.tags[2] %>"/>
              </div>
              <div id="editor"></div>
              <input type="hidden" id="content" name="content" value="<%= post.content %>">
             <!--  <div class="form-group">
                <label>正文</label>
                <textarea name="content" class="form-control" row="20" style="height:300px;"><%=post.content %></textarea>
              </div> -->
              <button id="submit" type="submit" class="btn btn-primary">修改</button>
            </form>
           </div>
         </div>
        </div>
      </div>
    </div>
  <footer>
  </footer>

  <a id="gotop" href="#">   
    <span>▲</span> 
  </a>

  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="/javascripts/summernote.min.js"></script>
  
  <script type="text/javascript">
  $(function(){
    $(window).scroll(function(){  //只要窗口滚动,就触发下面代码 
      var scrollt = document.documentElement.scrollTop + document.body.scrollTop; //获取滚动后的高度 
      if( scrollt >600 ){  //判断滚动后高度超过600px,就显示  
        $("#gotop").fadeIn(400); //淡出     
      }else{      
        $("#gotop").stop().fadeOut(400); //如果返回或者没有超过,就淡入.必须加上stop()停止之前动画,否则会出现闪动   
      }
    });
    $("#gotop").click(function(){ //当点击标签的时候,使用animate在200毫秒的时间内,滚到顶部
        $("html,body").animate({scrollTop:"0px"},200);
    });
    $('#editor').summernote({
      height : 300
    });
    $('#editor').code($('#content').val());
    $('#submit').click(function(){
      $('#content').val($('#editor').code());
    });
  });
  </script>
</body>
</html>