<%- include header %>
  <!-- 遍历列出最近的文章 -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <% posts.forEach(function (post, index){ %>
          <article class="post">
            <h2><a href="/p/<%= post._id %>"><%= post.title %></a></h2>
            <div class="meta">
              <time><%= post.time.minute %></time>
              <span class="label label-success"><a href="#">3人评论</a></span>
              <span class="label label-success">10人阅读</span>
            </div>
            <img src="<%= post.titleImgPath %>" class="img-thumbnail">
            <p><%- post.excerpt %></p>
            <a href="/p/<%= post._id %>" class="btn btn-primary">阅读全文</a>
          </article>
        <% }); %>
        <% if( !isFirstPage || !isLastPage) { %>
        <article class="post">
          <ul class="pager">
            <% if( !isFirstPage) { %>
            <li class="previous"><a href="/?p=<%= (page -1) %>&tag=<%= tag %>">&larr; 上一页</a></li>
            <% } else { %>
            <li class="previous disabled"><a href="javascript:;" disabled>&larr; 上一页</a></li>
            <% } %>
            <% if( !isLastPage) { %>
            <li class="next"><a href="/?p=<%= (page +1) %>&tag=<%= tag %>">下一页 &rarr;</a></li>
            <% } else { %>
            <li class="next disabled"><a href="javascript:;" disabled>下一页 &rarr;</a></li>
            <% } %>
          </ul>
        </article>
        <% } %>
        <article></article>
      </div>
    </div>
  </div>
<%- include footer %>
  