<%- include mgtHeader %>
  <div class="container mB50">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <article class="post">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>用户名</th>
                <th>邮箱</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% users.forEach(function (user, index){ %>
              <tr>
                <% if(user.name !== 'admin') {%>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                  <input type="hidden" value="<%= user._id %>" />
                  <button class="btn btn-danger deleteBtn" data-toggle="modal" data-target="#deleteModal" >删除</button>
              	<% } %>
                </td>
              </tr>
            <% })%>
            </tbody>
          </table>
          <a href="/addUser" class="btn btn-primary">添加</a>
        </article>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">确认框</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" id="postId" >
          <p>确认删除该用户?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <a id="deleteConfirmBtn" href="" class="btn btn-primary">确认</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <%- include footer %>

  <script type="text/javascript">
  $(function(){
    $('.deleteBtn').bind('click', function(){
      $('#deleteConfirmBtn').attr('href', '/management/deleteUser?_id='+$(this).prev().val());
    });
  });
  </script>
</body>
</html>